p {
font-family:cursive;

}
#o1 {
background-color: chartreuse;
width: 60px;
height: 75px;
border-radius: 75px;}

div.relative {
position: relative;
left:40px;
down:40px;
border: 3px solid green;
}

#o1:hover {
  background-color: green;
transition: 3s;
}

#o2 {
  position: relative;
  left: 40px;
  down: 25px ;
  border: 2px solid olive;
  background-color: lightgreen;
  width:40px;
  height:65px;
  border-radius: 75px;
}

#o2:hover {
  background-color: greenyellow;
transition: 2s;
}
#oo2 {
  position: relative;
  left: 80px;
  down: 25px ;
  border: 2px solid olive;
  background-color: lightgreen;
  width:40px;
  height:65px;
  border-radius: 75px;
}
#oo2:hover {
  background-color: greenyellow;
transition: 2s;
}
#o3{
  position: relative;
  left: 50px;
  top: 15px;
  border: 2px solid green;
  background-color: seagreen;
  width:50px;
  height: 70px;
  border-radius: 90px;
}
#o3:hover {
  background-color: teal;
  transition: 1s;
}
#o4
#o5
#o6
